<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 설정</title>
    <link rel="stylesheet" href="../../static/css/jyc/mypage-profile.css">
</head>
<!-- 모달, 폰트 -->
<body>
    <!-- 네비게이션 바-->
    <h1 class="option">설정</h1>
    <nav class="mypage-nav">
        <!-- <span>설정</span> -->
        <div class="container">
            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link">계정</a></li>
                <li class="nav-item"><a href="#" class="nav-link active">프로필</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="section">
            <div class="hr"></div>
            <div class="header">
                <div class="section-title">현재 프로필 수정</div>
            </div>
            <div class="form-group">
                <div class="profile-img-text">프로필 이미지</div>
                <div class="media">
                    <div class="media-body">
                        <div class="profile-thumb">
                            <img src="https://d3mcojo3jv0dbr.cloudfront.net/2023/04/14/14/23/186782f941f4c444db702fa4dade4bcc.png?w=128&h=128&q=65" alt="">
                        </div>
                        <div class="profile-change-area">
                            <div class="file">
                                <input class="form-control-file" id="upload-image" type="file" name="file" accept="image/gif, image/jpeg, image/png" aria-describedby="fileHelp">
                            </div>
                        </div>
                    </div>
                    <div class="rows">
                        <div class="file-size">
                            <span id="file-help">최대 10M의 이미지 파일</span>
                        </div>
                        <div class="remove-image">
                            <button class="btn remove-button" type="button" id="btn-delete-profile-photo">이미지 삭제</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="nickname-area">
                    <span>닉네임</span>
                    <input type="text" class="form-control" value="youchan" placeholder="닉네임">
                </div>
                    <div class="nickname-restrict">1자 이상 40자 이내로 입력해주세요.</div>
            </div>

                <div class="form-group">
                    <div class="introduce">
                        <span>자기소개</span>
                        <textarea class="form-control" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <label class="switch-controll">
                    <span class="switch-description">메시지 주고받기</span>
                    <span class="switch">
                        <img src="../../static/css/jyc/image/check-switch.png">
                        <input type="checkbox" name="message" style="display: none;">
                    </span>
                </label>
                <p class="form-text">다른 사용자와 메시지를 주고받을 수 있어요</p>
                <div class="section form-footer">
                    <button class="save-button">변경 내용 저장</button>
                    <span class="out">프로필 삭제</span>
                </div>

        </div>
    </main>
    
</body>
</html>