<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="../../static/css/jyc/mypage-email-password.css">
</head>
<body>
    <main>
        <div class="container">
            <form action="">
                <div class="form-group">
                    <h4 class="section-title">비밀번호 변경</h4>
                    <div class="alert alert-secondary">
                        <ul class="alert-list">
                            <li>비밀번호는 복잡할수록 안전합니다.</li>
                            <li>비밀번호를 변경하면 계정 보안을 위해 모든 기기와 브라우저에서 <span class="text-primary">자동 로그인이 해제</span>됩니다.</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">현재 비밀번호</label>
                    <input type="password" name="old_password" class="form-control" id="password" placeholder="비밀번호" autocomplete="nope">
                    <small class="form-text">비밀번호를 잊으셨나요? <a class="text-dark text-underlined" tabindex="-1" href="#">비밀번호 재설정</a></small>
                </div>

                <div class="form-group">
                    <label for="new-password" class="form-label">새 비밀번호</label>
                    <input type="password" name="password" class="form-control" id="new-password" placeholder="새 비밀번호" autocomplete="nope">
                </div>

                <div class="form-group">
                    <label for="confirm-password" class="form-label">새 비밀번호 확인</label>
                    <input type="password" name="password_confirm" class="form-control" id="confirm-password" placeholder="새 비밀번호 확인" autocomplete="nope">
                </div>
                <button class="btn save-button">변경 내용 저장</button>
            </form>
        </div>
    </main>
    
</body>
</html>