<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/jyc/mypage-purchased.css" />
  </head>
  <body>
    <div class="my-purchase-wrapper">
      <div class="top-wrapper">
        <header class="page-header">
          <div class="header-title">결제내역</div>
        </header>
      </div>
      <div class="mypage-content">
        <div class="button-wrapper">
          <button class="confirm-button">예약 확정만 보기</button>
          <button class="hide-cancel-button">취소 내역 숨기기</button>
        </div>
        <div class="placeholder-wrapper">
          <div class="placeholder-content">
            <img
              src="data:image/svg+xml,%3Csvg width='56' height='56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M38 16H22M38 23H22M38 30H22M38 37H22' stroke='%23777' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3Crect x='8' y='5' width='39' height='44' rx='4' stroke='%23777' stroke-width='2'/%3E %3Ccircle cx='16.5' cy='16' r='1.5' fill='%23777'/%3E %3Ccircle cx='16.5' cy='23' r='1.5' fill='%23777'/%3E %3Ccircle cx='16.5' cy='30' r='1.5' fill='%23777'/%3E %3Ccircle cx='16.5' cy='37' r='1.5' fill='%23777'/%3E %3Ccircle cx='42' cy='43' r='11' fill='%23fff' stroke='%23fff' stroke-width='2'/%3E %3Ccircle cx='42' cy='43' r='9' fill='%23fff' stroke='%23777' stroke-width='2'/%3E %3Cpath d='m39 46 6-6M45 46l-6-6' stroke='%23777' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E"
              alt="아직 결제내역이 없어요!"
              width="56px"
              height="56px"
            />
            <div class="placeholder-title">아직 결제내역이 없어요!</div>
            <div class="placeholder-subtitle">지금 바로 체험학습을 신청해보세요.</div>
            <div class="placeholder-button-wrapper">
              <button class="home-button">홈으로 이동</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
