<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 변경</title>
    <link rel="stylesheet" href="../../static/css/jyc/mypage-setting.css">
</head>
    <!-- 모달, 폰트 적용해야함 -->
<body>
    <h1 class="option">설정</h1>
    <nav class="mypage-nav">
        <!-- <span>설정</span> -->
        <div class="container">
            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link active">계정</a></li>
                <li class="nav-item"><a href="#" class="nav-link">프로필</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="main-content">
            <!-- 이메일, 비밀번호 섹션 -->
            <div class="section" style="border:none">
                <h3 class="section-title-login">
                    계정 설정
                </h3>
            </div>

            <div class="section" style="border:none">
                <div class="form-group">
                    <h4 class="section-title">
                        로그인 정보
                    </h4>
                </div>
                <!-- 이메일 섹션 -->
                <div class="form-group row">
                    <div class="email-text">
                        <div class="user-email col-info">이메일</div>
                        <span class="email-info">
                            <div class="user-info">
                                <span>
                                    <img class="email-checked" src="../../static/css/jyc/image/green-checked.png">
                                    <span>youchanj66@naver.com</span>
                                </span>
                                <div class="email-change-btn"><a href="#" class="btn email-change-link">이메일 주소 변경</a></div>
                            </div>
                        </span>
                    </div>
                </div>
                <!-- 비밀번호 섹션 -->
                <div class="form-group row">
                    <div class="password-text col-info">비밀번호</div>
                    <div class="password-change-btn"><a href="#" class="btn password-change-link">비밀번호 변경</a></div>
                </div>
            </div>


            <!-- 네이버나 카카오 계정 연결을 위한 섹션 -->
            <div class="section">
                <div class="hr"></div>
                <div class="form-group">
                    <h4 class="section-title">계정 연결하기</h4>
                </div>
                <div class="form-group row">
                    <div class="password-text col-info">
                        네이버
                    </div>
                    <div class="password-change-btn">
                        <a href="#" class="btn password-change-link">
                            <img src="https://d33pksfia2a94m.cloudfront.net/assets/img/social/naver.svg">
                            <span>네이버 연결하기</span>
                        </a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="password-text col-info">
                        카카오
                    </div>
                    <div class="password-change-btn">
                        <a href="#" class="btn password-change-link">
                            <img src="../../static/css/jyc/image/kakao-logo.png" width="40">
                            <span>카카오 연결하기</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 본인인증 섹션 -->
            <div class="section">
                <div class="hr"></div>
                <h4 class="sction-title">
                    본인인증
                </h4>
                <div class="explain">
                    <ul class="explain-ul">
                        <li class="explain-list">포스타입은 적법한 본인 인증 절차로 이용자의 실명과 나이를 확인하며, 한 사람의 명의로 최대 2개의 계정을 인증받을 수 있습니다.</li>
                        <li class="explain-list">본인 인증을 받은 경우 계정을 분실했을 때 명의를 이용하여 계정을 찾을 수 있습니다.</li>
                        <li class="explain-list">본인 인증은 완료한 시점으로부터 1년간 유지되며, 1년이 경과하면 이전과 동일한 명의로 다시 본인 인증받아야 합니다.</li>
                    </ul>
                </div>
            </div>
            <!-- 성인 컨텐츠 열람을 위한 섹션-->
            <!-- <div class="sexy-contents"></div> -->
            <!-- 변경사항 저장 -->
            <div class="last-area">
                <button class="btn save-button">변경 내용 저장</button>
                <a href="#" class="out">탈퇴하기</a>
            </div>
        </div>
    </main>

</body>
</html>