<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 크루</title>
    <link rel="stylesheet" href="../../static/css/mypage/mypage-crew.css" />
  </head>
  <body>
    <div class="my-crew-wrapper">
      <div class="top-wrapper">
        <header class="page-header">
          <div class="header-title">나의 크루</div>
        </header>
      </div>
    </div>

    <div class="mypage-content">

      <!-- 리스트 한개 -->
      <div class="placeholder-wrapper">
        <!-- 리스트 한개 -->
        <div class="crew-plan-content">
          <div class="crew-plan-header">
            <h5 class="crew-plan-title">
              <a href="#">00님의 크루</a>
            </h5>
            <div class="crew-plan-price-member">
              <div class="crew-recruit-count">
                <span class="current-crew">현재 크루 모집인원</span>

                <!-- count-crew 숫자에 따라서 progress-boar 올라감 -->
                <span class="count-crew">4</span><span>명</span>
              </div>
              <div class="crew-plan-member gray-450"></div>
            </div>
          </div>
          <div class="crew-progress">
            <div class="progress">
              <div
                class="progress-bar"
                style="width: 90%"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="crew-description">
            <div class="gray-600">
              - 크루로 초대하시면 같은 체험학습을 같은 시간에 가실 수 있습니다.
            </div>
            <div class="gray-600">
              - 현재 크루로 초대된 인원은 <span>00</span>, <span>00</span> , <span>00</span> , <span>00</span> 입니다
            </div>
          </div>
          <div class="crew-btn-wrapper">
            <a class="btn btn-join-crew" href="#"> 크루 초대하기</a>
          </div>
        </div>
      </div>
      <!-- 한개 끝 -->

            <!-- 리스트 한개 -->
            <div class="placeholder-wrapper">
                <div class="crew-plan-content">
                  <div class="crew-plan-header">
                    <h5 class="crew-plan-title">
                      <a href="#">00님의 크루</a>
                    </h5>
                    <div class="crew-plan-price-member">
                      <div class="crew-recruit-count">
                        <span class="current-crew">현재 크루 모집인원</span>
                        <span class="count-crew">4</span><span>명</span>
                      </div>
                      <div class="crew-plan-member gray-450"></div>
                    </div>
                  </div>
                  <div class="crew-progress">
                    <div class="progress">
                      <div
                        class="progress-bar"
                        style="width: 90%"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="crew-description">
                    <div class="gray-600">
                      - 크루로 초대하시면 같은 체험학습을 같은 시간에 가실 수 있습니다.
                    </div>
                    <div class="gray-600">
                      - 현재 크루로 초대된 인원은 <span>00</span>, <span>00</span> , <span>00</span> , <span>00</span> 입니다
                    </div>
                  </div>
                  <div class="crew-btn-wrapper">
                    <a class="btn btn-join-crew" href="#"> 크루 초대하기 </a>
                  </div>
                </div>
              </div>
              <!-- 한개 끝 -->


                    <!-- 리스트 한개 -->
      <div class="placeholder-wrapper">
        <div class="crew-plan-content">
          <div class="crew-plan-header">
            <h5 class="crew-plan-title">
              <a href="#">00님의 크루</a>
            </h5>
            <div class="crew-plan-price-member">
              <div class="crew-recruit-count">
                <span class="current-crew">현재 크루 모집인원</span>
                <span class="count-crew">3</span><span>명</span>
              </div>
              <div class="crew-plan-member gray-450"></div>
            </div>
          </div>
          <div class="crew-progress">
            <div class="progress">
              <div
                class="progress-bar"
                style="width: 90%"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="crew-description">
            <div class="gray-600">
              - 크루로 초대하시면 같은 체험학습을 같은 시간에 가실 수 있습니다.
            </div>
            <div class="gray-600">
              - 현재 크루로 초대된 인원은 <span>00</span>, <span>00</span> , <span>00</span> , <span>00</span> 입니다
            </div>
          </div>
          <div class="crew-btn-wrapper">
            <a class="btn btn-join-crew" href="#"> 크루로 초대하기 </a>
          </div>
        </div>
      </div>
      <!-- 한개 끝 -->


    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/mypage/mypage-crew.js"></script>
</html>
