<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/mypage/mypage.css" />
    <!-- <link rel="stylesheet" href="../../static/css/mypage/modal.css"> -->
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/mypage/modal.css">
  </head>
  <style>
    body {
      font-family: 'SUIT Variable', sans-serif;
    }
  </style>
  <body>
    <main id="mypage">
      <!-- 마이페이지 맨 위 유저 프로필 -->
      <div class="modal-container" style="display:none">
        <div class="modal">
          <div class="warn-modal" style="height: 89px;">
            <div class="modal-content" style="margin-bottom: 20px;">로그아웃 하시겠습니까?</div>
            <div class="modal-button-wrap">
              <button class="logout-button modal-btn" style="background-color: rgb(0, 117, 239); border-radius: 30px;">로그아웃</button>
              <button class="cancel-button modal-btn">취소</button>
            </div>
          </div>
        </div>
      </div>
      <div class="head-user-info-wrap">
        <div class="header-text">
          <h1>내 정보</h1>
        </div>
        <!-- <div class="mypage-user-info-header">
          <button class="update-user-button">수정</button>
        </div> -->
      </div>
      <hr class="mypage-head-hr" />
      <div class="profile-area">
        <a href="#" class="profile-link">
          <img src="https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_64,q_auto,w_64/3_ccfe0b67c70a9851c437bed5d0062ed452904418583cd29925009e395b78db5d" alt="">
          <div class="user-profile-info">
            <div class="user-name">정유찬</div>
            <div class="account-info">통솔자</div>
          </div>
        </a>
      </div>
      <div class="my-activity">
        <a href="#">
          <div class="activity">결제 내역</div>
          <div class="number">2</div>
        </a>
          <a href="#">
            <div class="activity">나의 체험</div>
            <div class="number">2</div>
          </a>

          <a href="#">
            <div class="activity">후기</div>
            <div class="number">2</div>
          </a>

          <a href="#">
            <div class="activity">쿠폰</div>
            <div class="number">2</div>
          </a>
      </div>
      
      <hr size="32" type="Line" class="mypage-hr" />
      <div class="mypage-user-group">
        <header>내 활동</header>
        <a href="#">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-make-group page-move">내가 가입한 크루</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-participate-group page-move">내가 개설한 크루</div>
            </div>
          </div>
        </a>
      </div>
      <hr size="32" type="Line" class="mypage-hr" />
      <div class="mypage-user-customer-service">
        <header>고객센터</header>
        <a href="#">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-notice page-move">공지사항</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-FAQ page-move">FAQ</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="mypage-user-FAQ page-move">고객센터문의</div>
            </div>
          </div>
        </a>
      </div>
<!-- 제휴 및 호스트 지원 -->
      <hr size="32" type="Line" class="mypage-hr" />
      <div class="mypage-user-group">
        <header>신청</header>
        <div class="setting-list">
          <a href="#">
            <div class="mypage-user-container">
              <div class="mypage-user-wrapper">
                <div class="apply-tongsol page-move">통솔자 신청</div>
              </div>
            </div>
          </a>
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper">
              <div class="apply-chaehome page-move">체험학습 신청</div>
            </div>
          </div>
        </div>
      </div>

      <hr size="32" type="Line" class="mypage-hr" />
      <div class="mypage-user-group">
        <header>설정</header>
        <div class="setting-list">
          <a class="logout-btn" href="">
            <div class="mypage-user-container">
              <div class="mypage-user-wrapper">
                <div class="logout page-move">로그아웃</div>
              </div>
            </div>
          </a>
          <div class="mypage-user-container">
            <div class="mypage-user-wrapper user-leave-wrap">
              <div class="user-leave page-move">회원탈퇴</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  </script>
  <script src="../../static/js/mypage/mypage.js"></script>
</html>
