
@charset "utf-8";
body{
    margin: 0;
    font-family: SUIT;
    word-break: normal;
    overflow-wrap: break-word;
}

button{
    all: unset;
}

.board-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
}

.board-title-container{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.board-title-text{
    color: rgb(51, 61, 75);
    font-weight: bold;
    font-size: 24px;
}

.board-title-info-btn{
    cursor: pointer;
    border: none;
    background-color: #ffffff;
}

.board-component-container{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow-x: hidden;
}

.board-component-info{
    max-width: 385px;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: -1px;
    box-sizing: border-box;
}

.board-component-top-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}

.profile-info-wrapper{
    display: flex;
}

.profile-image-wrapper{
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.profile-image-container{
    width: 36px;
    height: 36px;
}

.profile-image{
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.profile-user-text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-user-name{
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}

.board-time{
    font-size: 12px;
    line-height: 12px;
    color: rgb(142, 151, 163);
    font-weight: 600;
}

.more-btn{
    background-color: #ffffff;
    cursor: pointer;
    justify-items: flex-end;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

.board-component-image-wrapper{
    width: 344px;
    height: 344px;
    overflow: hidden;
    cursor: pointer;
}

.board-component-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.field-study-board-link{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(5, 116, 230);
    padding: 0px 20px;
    border: 1px solid rgb(229, 231, 234);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.field-study-board-info{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 600;
}

.field-study-board-info-emoticon{
    margin-right: 10px;
    border-style: none;
    vertical-align: middle;
}

.field-study-board-content{
    margin-top: 18px;
    margin-bottom: 21px;
    letter-spacing: -0.4px;
    font-size: 16px;
    color: rgb(78, 89, 104);
    white-space: pre-line;
}

.field-study-board-content-text{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
    font-weight: 600;
}

.content-more-btn{
    padding: 0px;
    color: rgb(171, 182, 196);
    font-weight: 600;
    font-size: 15px;
    border-style: none;
    background-color: #ffffff;
    white-space: pre-line;
    cursor: pointer;
    letter-spacing: -1.8px;
}

.action-group{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}

.action-like-btn{
    height: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin-right: 20px;
    border-style: none;
    background-color: #ffffff;
}

.count{
    margin-left: 8px;
    font-weight: 500;
}

.action-chat-link{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.write-btn{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.write-btn-container{
    position: relative;
    max-width: 768px;
    width: 100%;
    margin: 0px auto;
}

.board-write-link{
    position: absolute;
    right: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(242, 242, 242);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
    background-color: rgb(255, 255, 255);
    bottom: calc(34px + env(safe-area-inset-bottom));
}

/* 이미지 배너 */

.banner-container{
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    border-radius: 20px;
}

div.banner {
    width: 8400px; /* 배너 5개라 * 7 */
    transition: transform 0.3s;
    cursor: pointer;
}

div.banner div {
    width: 344px;
    height: 344px;
    float: left;
    transition: transform 0.4s ease-in-out;
    background-size: cover;
    background-position: center;
}

div.move-arrow {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

div.move-arrow div {
    background-size: 7px auto;
    background-repeat: no-repeat;
    background-position: center;
}

div.prev {
    position: absolute;
    transform: rotate(180deg) translate(0px, 50%) !important;
    top: 50%;
    left: 10px;
}

.prev-image{
    width: 50px;
    height: 50px;
}

div.next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);  
}

div.buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

div.buttons button {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    line-height: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.buttons button span{
    opacity: 0;
    height: 7px;
    display: block;
}

div.buttons button:nth-child(1) {
    opacity: 1;
    background-color: rgba(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 4px;
}

.page-move-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 28px;
    padding: 6px 10px;
    color: rgb(204, 204, 204);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    font-weight: bold;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    box-sizing: border-box;
}

#page-now{
    color: rgb(255, 255, 255);
    margin-right: 2px;
}

#page-total{
    margin-right: 2px;
}

/* 이미지 모달 */
/* 모달 */

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.category-modal {
    display: none;
    position: fixed;
    inset: 0px;
    z-index: 1000;
    box-sizing: border-box;
    width: 770px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
    height: fit-content;
}

div#content-wrap span{
    display: block;
}

div.modal-background {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/* 모달 내부 */
.category-modal-header{
    position: relative;
    padding: 24px 20px 16px;
    letter-spacing: -0.54px;
    line-height: 1.44;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.category-modal-body{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0px;
    height: 100%;
    padding: 24px 20px;
}

.category-modal-content-wrapper{
    width: 730px;
}

.category-modal-content-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
}

.category-content-link{
    display: table;
    width: 100%;
    text-decoration: none;
}

.category-item-container{
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
    box-sizing: border-box;
}

.category-item-background-image1{
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-outdoor_gch4e1);
}

.category-item-backgroundDeem{
    opacity: 0.2;
    background-color: rgb(17, 17, 17);
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}

.category-item-textDeem{
    opacity: 0.2;
    background-image: linear-gradient(to right, rgb(3, 0, 0), rgba(2, 0, 0, 0.52), rgba(0, 0, 0, 0));
    width: 94px;
    height: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}

.category-item-text{
    z-index: 1;
}
