@charset "utf-8";


a {
    color: inherit;
    text-decoration: none;
}

img {
    border-style: none;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

#play-full-content {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

.full-content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

* {
    outline: none;
    font-family: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

.main-full-content {
    margin: 0px auto;
    max-width: 808px;
}

.main-content {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.category {
    line-height: 20px;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.category-write {
    margin-right: 6px;
}

img {
    border-style: none;
}

.category-button {
    transform: rotate(90deg);
    width: 18px;
    height: 18px;
    vertical-align: initial;
}

.category-ajax {
    box-sizing: content-box;
    padding-bottom: 20px;
    font-size: 12px;
    overflow: auto hidden;
    white-space: nowrap;
}

.category-ajax > * {
    margin-right: 20px;
}

.except-category {
    position: relative;
}

.full-filter {
    display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
    overflow-x: auto;
    white-space: nowrap;
}

.date-button-full-content {
    margin-right: 16px;
}

.date-button-content {
    display: flex;
    position: relative;
    align-items: center;
}

.date-button {
    width: auto;
    height: auto;
    line-height: 14px;
    padding: 11px 20px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    color: initial;
    font-size: 14px;
    font-weight: 500;
}

.filter-button-full-content {
    margin-right: 16px;
}

.filter-button-content {
    display: flex;
    position: relative;
    align-items: center;
}

.filter-button {
    width: auto;
    height: auto;
    line-height: 14px;
    padding: 11px 20px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    color: initial;
    font-size: 14px;
    font-weight: 500;
}

.main-content {
    width: auto;
    height: auto;
    min-width: 0px;
    min-height: 1px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 14px;
}

.popular-title-left {
    display: flex;
    max-width: calc(100% - 62px);
    font-size: 18px;
    line-height: 22px;
}

.popular-write {
    display: block;
    margin-right: 8px;
    font-weight: bold;
    color: black;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popular-count {
    font-weight: 300;
}

.popular-title-right {
    min-width: 52px;
}

.popular-title-right {
    min-width: 52px;
}

.popular-title-right-write {
    color: black;
}

.popular-inner-padding-content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 1px;
    padding-bottom: 18px;
}

.popular-inner-content {
    display: flex;
    flex-flow: row wrap;
    min-height: 1px;
}

.popular-inner-content > *{
    margin-right: 15px;
    margin-bottom: 30px;
    width: calc(25% - 11.25px) !important;
}

.popular-content-contain {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: white;
    min-height: 1px;
}

.popular-content {
    min-height: 1px;
}

.popular-image-container {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}

.popular-image {
    display: none !important;
}

.popular-count {
    margin-top: 15px;
    font-weight: bold;
}

.popular-title-right {
    margin-top: 15px;
    font-weight: bold;
}


.content-wrapper{
    margin-bottom: 30px;
    width: calc(24% - 11.25px) !important;
    position: relative;
}

.thumb-img img,.thumb-img img, .new-thumb-img img, .this-week-thumb-img img{
    width: 100%;
    height: 100%;
}

.like-button, .this-week-like-button, .new-like-button {
    position: absolute;
}

.like-button img{
    position: relative;
    right: 3px;
    bottom: 36px;
    width: 32px;
    left: 145px;
    z-index: 3;
    cursor: pointer;
}

.this-week-like-button img{
    position: relative;
    right: 3px;
    bottom: 36px;
    width: 32px;
    left: 145px;
    z-index: 3;
    cursor: pointer;
}

.new-like-button img{
    position: relative;
    right: 3px;
    bottom: 36px;
    width: 32px;
    left: 145px;
    z-index: 3;
    cursor: pointer;
}
.product-text-info-area{
    padding: 10px 13px 0px 0px;
}

.location{
    display: block;
    color: rgb(119, 119, 119);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0px 0px 8px;
}

.product-title{
    height: auto;
    margin: 0px 0px 9px;
    font-weight: 400;
    word-break: keep-all;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 40px;
    line-height: 20px;
    font-size: 14px
}

.stars{
    display: flex;
    flex-flow: row nowrap;
}

.reply-count{
    display: block;
    margin: 0px 0px 0px 4px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.03em;
}

.price-area{
    display: flex;
    flex-direction: column;
}

.original-price{
    color: rgb(204, 204, 204);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-decoration: line-through;
}

.real-price-area{
    display: flex;
}

.discount{
    margin: 0px 2px 0px 0px;
    color: rgb(255, 63, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.real-price{
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
}

.popular-list {
    display: flex;
    justify-content: space-between;
}

.price-border {
    height: 1px;
    margin: 8px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.new-board {
    padding: 4px 6px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 5px;
    color: red;
    background-color: rgb(244, 244, 244);
    margin: 0px 4px 4px 0px;
}

.show-full-board-list {
    width: 100%;
    line-height: 13px;
    font-size: 13px;
}

.show-full-board-inner {
    display: block;
    margin: 0px auto 40px;
    width: 370px;
    height: 8px;
    max-width: 450px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

.show-full-board-inner:hover {
    background-color: rgb(255, 212, 0);
    color: white;
}

.thumb-img img, .new-thumb-img img, .this-week-thumb-img img{
    border-radius: 5px;
}

.go-write {
    width: auto;
    height: auto;
    line-height: 14px;
    padding: 11px 20px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    color: initial;
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
}

.go-write:hover {
    background-color: rgb(255, 212, 0);
    color: white;
}