.modal_background {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .warn-modal {
    background-color: #fff;
    width: 300px;
    height: 50px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
  }
  
  .warn-modal span {
    font-size: 15px;
    line-height: 50px;
  }

  /* 마이페이지 모달 버튼 */