/* mypage-purchased */



/* 헤더 아닌 헤더 */
.page-header{
    border-bottom: 1px solid rgb(238, 238, 238);
}

.header-content{
    padding: 50px 20px 20px;
    margin: 0px auto;
    max-width: 768px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.header-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: -0.72px;
    color: rgb(51, 51, 51);
}

/* 메인 컨텐트 */
.mypage-content{
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.button-wrapper{
    padding: 0px 20px;
}
