<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/play/apply-experience.css"/>
    <link rel="icon" href="/images/favicon.png"/>
    <title>체험 참여</title>
</head>
<body>
<header class="header"></header>
<div class="SectionWrapper">
    <div class="makeSection-wrapper">
        <div class="makeSection-header">
            <span style="font-weight: 700">체험 참여</span>
        </div>
        <div class="SectionMaker-Wrapper">
            <div class="SectionMaker-contentWrapper">
                <hr class="space"/>
                    <div class="formSection-contentContainer">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                                <legend class="formTitle-legend">
                                    <span>제목</span>
                                </legend>
                                <span class="experience-title">체험제목 넣어주기</span>
                            </div>
                            <p class="warnMessage"></p>
                        </div>
                    </div>
                    <hr class="space"/>
                    <div class="formSection-contentContainer">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                                <legend class="formTitle-legend">
                                    <span>장소</span>
                                </legend>
                                <span class="experience-place">체험장소 넣어주기</span>
                            </div>
                        </div>
                    </div>
                    <hr class="space"/>
                    <div class="formSection-contentContainer">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                                <legend class="formTitle-legend">
                                    <span>카테고리</span>
                                </legend>
                                <div class="ButtonItem-list">
                                    <span class="experience-category">카테고리 넣어주기</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="space"/>
                    <div class="formSection-contentContainer">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                                <legend class="formTitle-legend">
                                    <span>모집 인원</span>
                                </legend>
                                <span class="experience-recruit-number">모집인원 넣어주기</span>
                            </div>
                            <p class="warnMessage"></p>
                        </div>
                    </div>
                    <hr class="space"/>
                    <div class="formSection-contentContainer">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                                <legend class="formTitle-legend">
                                    <span>마감 날짜</span>
                                </legend>
                                <span class="experience-deadline" style="margin-right: 30px;">마감날짜 넣어주기</span>
                                <img src="/static/images/calendar.png"  id="meeting-date-calendar" style="width:30px; height: 30px;">
                                <legend class="formTitle-legend form-meetEndTime">
                                    <span>만남 날짜</span>
                                </legend>
                                <span class="experience-meeting-time" style="margin-right: 30px;">만남날짜 넣어주기</span>
                                <img src="/static/images/calendar.png"  id="meeting-date-calendar" style="width:30px; height: 30px;">
                            </div>
                        </div>
                    </div>
                    <hr class="space"/>
                    <div class="formSection-contentContainer">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                                <legend class="formTitle-legend">
                                    <span>가격</span>
                                </legend>
                                <span class="experience-category">가격 넣어주기</span>
                            </div>
                        </div>
                    </div>
                    <hr class="space"/>
                    <div class="formSection-contentContainer">
                        <div class="formTitle-wrapper">
                          <div class="formTitle">
                            <legend class="formTitle-legend">
                                <span>참여 유형</span>
                            </legend>
                            <div class="grout-btn-wrapper">
                                <input class="group-btn" type="button" value="단체">
                                <input class="personal-btn" type="button" value="개인">
                            </div>
                          </div>
                        </div>
                    </div>
                    <hr class="space-hide" style="display: none;"/>
                    <div class="formSection-contentContainer guide-button-wrapper" style="display: none;">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                            <legend class="formTitle-legend">
                                <span>통솔자 여부</span>
                            </legend>
                            <input class="guide-ok-btn" type="button" value="유">
                            <input class="guide-no-btn" type="button" value="무">
                          </div>
                        </div>
                    </div>
                    <hr class="space-disabled" style="display: none;"/>
                    <div class="formSection-contentContainer disabled-button-wrapper" style="display: none;">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                            <legend class="formTitle-legend">
                                <span>장애 여부</span>
                            </legend>
                            <input class="disabled-ok-btn" type="button" value="유">
                            <input class="disabled-no-btn" type="button" value="무">
                          </div>
                        </div>
                    </div>
                    <hr class="space-leader" style="display: none;"/>
                    <div class="formSection-contentContainer leader-button-wrapper" style="display: none;">
                        <div class="formTitle-wrapper">
                            <div class="formTitle">
                                <legend class="formTitle-legend">
                                    <span>통솔자에게</span>
                                </legend>
                                <textarea
                                        name="groupContent"
                                        class="detailText-text"
                                        placeholder="통솔자에게 아이를 볼 때 유의해야 할 부분을 적어주세요"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    <hr class="space"/>
                    <div class="bottomButton-wrapper">
                        <button class="registButton-button" style="margin-left: 20px;" disabled>신청하기</button>
                        <button class="cancelButton-button">취소하기</button>
                    </div>
                    <div class="bottomButton-wrapper">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 오른쪽 부분 시작 -->
    <!-- 오른쪽 부분 헤드 시작 -->
    <div class="right-for-media-query">
        <div class="right-full-contain">
            <div class="right-title">
                <span class="right-title-write">
                    체험 참여 가이드
                </span>
            </div>
            <!-- 오른쪽 부분 헤드 끝 -->
            <!-- 오른쪽 부분 내용 시작 -->
            <div class="right-body-full">
                <!-- 체험 개설 전 고려사항 시작 -->
                <article class="right-body-inner-content">
                    <div class="body-header-contain">
                        <h1 class="body-header">체험 참여 전 고려사항</h1>
                    </div>
                    <div class="body-content-start">
                        <figure class="body-content-think">
                            <div class="icon-wrap">
                                <span class="think-icon">⚠️</span>
                            </div>
                            <div class="think-write">
                                <ul class="think-list">
                                    <li class="think">"체험 참여 전 주의해야 하는 부분을 먼저 확인 부탁드립니다."</li>
                                    <li class="think">"법률 규정 이슈가 있을 경우, 아기자기는 어떠한 경우에도 책임을 지지 않습니다."</li>
                                    <li class="think">"보호자님들 생각에 위험해보이는 체험활동이라면 신청하시지 않는 것을 권장드립니다."</li>
                                </ul>
                            </div>
                        </figure>
                        <h3 class="no-open-experience">
                            체험 불가 체험학습
                        </h3>
                        <ul class="no-open-list">
                            <li class="no-open">안전이 보장되지 않은 장소에서 하는 체험학습</li>
                            <li class="no-open">복귀시간이 보장되지 않은 장소에서 하는 체험학습</li>
                        </ul>
                        <h3 class="caution-experience">
                            주의가 필요한 체험학습
                        </h3>
                        <ul class="caution-experience-list">
                            <li class="caution">활동적인 액티비티 체험학습</li>
                            <li class="caution">요리, 음료를 제공하는 체험학습</li>
                            <li class="caution">장거리 이동하는 체험학습</li>
                        </ul>
                    </div>
                </article>
                <!-- 체험 개설 전 고려사항 끝 -->
                <!-- 기본 작성 가이드 시작 -->
                <article class="experience-write-guide">
                    <h1 class="guide-title">기본 참여 가이드</h1>
                    <div class="guide-body-full-contain">
                        <h3 class="join-explain-title">참여유형</h3>
                        <ul class="join-explain-list">
                            <li class="join-explain">참여유형은 단체와 개인이 있는데 단체는 여러 아이들이 함께 신청을 할 경우이고, 개인은 개인이 신청할 경우입니다. 개인은 통솔자 없이 보호자분들이 동행할 때 선택해주시길 바랍니다.</li>
                            <li class="join-explain">단체를 선택하셨다면, 통솔자 여부를 선택하실 수 있는데 단체로 오더라도 보호자분들이 동행하신다면 통솔자가 없이 체험학습을 할 수 있으며, 필요하시다면 통솔자를 선택해주시면 됩니다.</li>
                            <li class="join-explain">통솔자를 선택하셨다면, 장애 여부를 선택하실 수 있는데 혹시나 장애를 가졌다면 통솔자 중 장애인을 통솔할 때 보다 잘 통솔할 수 있도록 복지사 자격증이 있는 통솔자를 선택하시는 항목입니다.</li>
                        </ul>
                        <h3 class="experience-leader-title">통솔자에게</h3>
                        <ul class="experience-leader-list">
                            <li class="experience-leader">이 항목은 말 그대로 통솔자 분에게 하고 싶은 말을 하시면 됩니다.</li>
                            <li class="experience-leader">통솔자가 아이들을 볼 때 주의할 점이나 아픈 점, 약을 먹는다면 약을 먹는 시간을 적어주시면 됩니다.</li>
                        </ul>
                        <h3 class="default-experience">
                            참여 시 주의사항
                        </h3>
                        <ul class="default-experience-list">
                            <li class="default">모집 인원 정원을 확인 하시고 신청해주시길 바랍니다. 모집 인원이 다 찼다면 신청하실 수 없습니다.</li>
                            <li class="default">마감 날짜와 만남 날짜를 한번 더 확인하시고 유의하셔서 신청하시길 바랍니다.</li>
                            <li class="default">신청하기를 누르면 결제 페이지로 넘어갑니다.</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<footer class="footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/play/apply-experience.js"></script>
</html>
