<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>놀러가요</title>
        <link rel="stylesheet" href="/static/css/play/play-category.css" />
    </head>
    <body>
        <div id="play-full-content">
            <div class="main-full-content">
                <div class="category">
                    <span class="category-write"> 농촌 </span>
                    <span class="go-write"> 작성하기 </span>
                </div>
                <!-- 카테고리 시작 -->
                <div class="category-ajax">
                    <a class="active" style="font-weight: bold; color: rgb(51, 151, 255)">전체</a>
                    <span>농촌</span>
                    <span>미술관/박람회</span>
                    <span>전통</span>
                    <span>공방</span>
                    <span>박물관</span>
                    <span>스포츠</span>
                    <span>과학</span>
                    <span>기타</span>
                </div>
                <!-- 카테고리 끝 -->
                <!-- 인기 여행 -->
                <div class="main-content" style="opacity: 1; display: block">
                    <div class="popular-full-content">
                        <div font-size="14px" class="popular-title">
                            <div font-size="18px" class="popular-title-left">
                                <h2 class="popular-write">
                                    인기 <span class="popular-category">농촌</span>체험
                                </h2>
                                <span class="popular-count">203</span>
                            </div>
                            <div class="popular-title-right">
                                <a class="popular-title-right-write" href="">전체 보기</a>
                            </div>
                        </div>
                        <div class="popular-list">
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <div class="stars">
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <span class="reply-count">후기 96</span>
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <div class="stars">
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <span class="reply-count">후기 96</span>
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <div class="stars">
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <span class="reply-count">후기 96</span>
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <div class="stars">
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <img
                                                src="data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12.293 8.6189L15.7442 6.00968C16.2325 5.63914 15.9799 4.9135 15.3402 4.88263L10.8957 4.6356C10.6263 4.62016 10.3906 4.46577 10.2896 4.23418L8.65658 0.405277C8.42088 -0.135092 7.59595 -0.135092 7.36026 0.405277L5.72724 4.21874C5.62623 4.45033 5.39053 4.60472 5.12117 4.62016L0.659819 4.86719C0.0200779 4.89806 -0.232451 5.6237 0.255772 5.99424L3.707 8.58802C3.90903 8.74241 4.01004 9.00487 3.9427 9.23646L2.81473 13.2043C2.66322 13.7601 3.31979 14.2079 3.85852 13.8991L7.61279 11.6913C7.84848 11.5523 8.13468 11.5523 8.35354 11.6913L12.1246 13.8991C12.6634 14.2079 13.3199 13.7601 13.1684 13.2043L12.0405 9.2519C11.99 9.02031 12.0741 8.77329 12.293 8.6189Z' fill='%237A29FA'/%3E %3C/svg%3E"
                                                width="11"
                                                height="10"
                                                alt="평점 icon"
                                            />
                                            <span class="reply-count">후기 96</span>
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                        </div>
                    </div>
                </div>
                <!-- 인기여행 끝 -->
                <!-- 금주의 여행 시작 -->
                <div class="main-content" style="opacity: 1; display: block">
                    <div class="popular-full-content">
                        <div font-size="14px" class="popular-title">
                            <div font-size="18px" class="popular-title-left">
                                <h2 class="popular-write">
                                    금주의 <span class="popular-category">농촌</span>체험
                                </h2>
                                <span class="popular-count">203</span>
                            </div>
                        </div>
                        <div class="popular-list">
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="this-week-thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="this-week-like-button">
                                        <img src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="this-week-like-button">
                                        <img src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="this-week-like-button">
                                        <img src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="this-week-like-button">
                                        <img src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">45000원</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                        </div>
                    </div>
                </div>
                <!-- 금주의 여행 끝 -->
                <!-- 신규 여행 시작 -->
                <div class="main-content" style="opacity: 1; display: block">
                    <div class="popular-full-content">
                        <div font-size="14px" class="popular-title">
                            <div font-size="18px" class="popular-title-left">
                                <h2 class="popular-write">
                                    신규 <span class="popular-category">농촌</span>체험
                                </h2>
                                <span class="popular-count">203</span>
                            </div>
                        </div>
                        <div class="popular-list">
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="new-like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">
                                          45000원
                                          <span color="#FF3F33" class="new-board">신규</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="new-like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">
                                          45000원
                                          <span color="#FF3F33" class="new-board">신규</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="new-like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">
                                          45000원
                                          <span color="#FF3F33" class="new-board">신규</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                            <!-- 상품 하나 시작 -->
                            <div class="content-wrapper">
                                <div class="content-link">
                                    <a href="" class="inner-wrapper">
                                        <div class="thumb-img">
                                            <img
                                                src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,q_auto,w_310/%ED%95%9C%EA%B0%95%EC%99%80%EC%9D%B8%EC%82%AC%EC%A7%84_8ae2ac64a75c778790f2d87d0549b86365d6ba21c670949bc61c4da7f0b0c54c"
                                                alt=""
                                                srcset=""
                                            />
                                        </div>
                                    </a>
                                    <div class="new-like-button">
                                        <img
                                            src="/static/images/unlike.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="product-text-info-area">
                                        <span class="location">위치</span>
                                        <div class="product-title">
                                            무제한와인(수/금/토)♥3:3로테 와인파티♥인증멤버
                                        </div>
                                        <hr type="Line" size="16" class="price-border" />
                                        <div class="real-price">
                                          45000원
                                          <span color="#FF3F33" class="new-board">신규</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 하나 끝 -->
                        </div>
                    </div>
                </div>
                <!-- 신규 여행 끝 -->
                <div class="show-full-board-list">
                    <a class="show-full-board-inner">
                        <span class="experience-full-count">203</span>개의 <span class="experience-pick-category">제주여행</span> 전체보기
                    </a>
                </div>
            </div>
        </div>
        <!-- play-full-content 이 두개는 신경쓰지 마 -->
        <footer class="footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/play/play-category.js"></script>
</html>
