ㅍ<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment-main</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <!-- header-section -->
    <section class="header"></section>
    <!-- //header-section -->

    <!-- 전체 div -->
    <div class="payment-entire-conatiner">
        <!-- padding-margin을 위한 wrapper -->
        <div class="payment-wrapper">
            <!-- 메인 컨텐츠 컨테이너 -->
            <div class="payment-main-container">
                <!-- 결제 내용 요약 container -->
                <div class="payment-info-container">
                    <p class="payment-info-title">프립정보</p>
                    <!-- 이벤트 내용 전체 wrapper -->
                    <div class="payment-info-wrapper">
                        <!-- 행사 요약 div -->
                        <div class="payment product-main-info-container">
                            <div class="payment-main-info-pic">
                                <img src="https://res.cloudinary.com/frientrip/image/upload/ar_1:1,c_fill,dpr_2,f_auto,g_center,h_112,q_auto,w_112/DSC_1187_9da8e82420f3ab3c1ee83ce01b2205fd8232577a55f51f6835da8461a1779ed3" alt="" class="payment-main-pic">
                            </div>
                            <div class="payment-main-info">
                                <div class="company-name">슈퍼호스트</div>
                                <div class="event-title">[와인콘서트: 와인오마카세] 와린이를 위한 음악&음식 페어링 클래스</div>
                            </div>
                        </div>
                        <!-- //행사 요약 div -->
                        <!-- 행사 일정 div-->
                        <div class="payment option-info-container">
                            <p>행사 일정</p>
                            <p class="event-period">
                               <span>4</span><span>월 </span><span>22</span><span>일 (</span><span>토</span><span>)</span>
                            </p>
                        </div>
                        <!-- //행사 일정 div-->
                    </div>
                    <!-- //이벤트 내용 전체 wrapper -->
                </div>
                <!-- //결제 내용 요약 container -->
                <!-- 구분선 -->
                <hr class="payment-hr-border">
                <!-- //구분선 -->
                <!-- 참여자 info container -->
                <div class="payment-contributors-info-container">

                </div>
                <!-- 참여자 info container -->
                <!-- 구분선 -->
                <hr class="payment-hr-border">
                <!-- //구분선 -->
                <!-- 결제방법 container -->
                <div class="payment-method-container">

                </div>
                <!-- //결제방법 container -->
                <!-- 구분선 -->
                <hr class="payment-hr-border">
                <!-- //구분선 -->
                <!-- 쿠폰 사용 및 조회 container -->
                <div class="payment-coupon-container">

                </div>
                <!-- //쿠폰 사용 및 조회 container -->
                <!-- 최종 결제 금액 안내 -->
                <div class="payment-final-price-container">
                    
                </div>
                <!-- //최종 결제 금액 안내 -->
                <!-- 결제동의 문 container -->
                <div class="payment-purchase-notice-container">

                </div>
                <!-- //결제동의 문 container -->
            </div>
            <!-- 결제하기 버튼 -->
            <div class="payment-submit-button">
                <button>결제하기</button>
            </div>
            <!-- //결제하기 버튼 -->
            <!-- //메인 컨텐츠 컨테이너 -->
        </div>
        <!-- //padding-margin을 위한 wrapper -->
    </div>
    <!-- //전체 div -->
    
    <!-- footer-section -->
    <section class="footer"></section>
    <!-- //footer-section -->
    
</body>
</html>