/* payment-main.html */

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

body {
    font-family: SUIT, "UI Frip", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

* {
    outline: none;
    font-family: inherit;
}





















/*********************************************************************************************/
.payment-entire-conatiner{
    width: 100%;
}

.payment-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 768px;
    width: 100%;
    padding: 36px 20px 0px;
    min-height: 1px;
}

.pament-main-container{
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
    opacity: 1;
    display: block;
}



























































