<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment-main</title>
</head>
<body>
    <!-- header-section -->
    <section class="header"></section>
    <!-- //header-section -->

    <!-- 전체 div -->
    <div class="payment-entire-conatiner">
        <!-- padding-margin을 위한 wrapper -->
        <div class="pament-wrapper">
            <!-- 메인 컨텐츠 컨테이너 -->
            <div class="pament-main-container">
                <!-- 결제 내용 요약 container -->
                <div class="payment-info-container">
                    <p class="payment-info-title">프립정보</p>
                    <div class="payment-info-wrapper">
                        <div class="payment product-main-info-container">

                        </div>
                        <div class="payment option-info-container">

                        </div>
                    </div>
                </div>
                <!-- //결제 내용 요약 container -->
                <!-- 구분선 -->
                <hr class="payment-hr-border">
                <!-- //구분선 -->
                <!-- 참여자 info container -->
                <div class="payment-contributors-info-container">

                </div>
                <!-- 참여자 info container -->
                <!-- 구분선 -->
                <hr class="payment-hr-border">
                <!-- //구분선 -->
                <!-- 결제방법 container -->
                <div class="payment-method-container">

                </div>
                <!-- //결제방법 container -->
                <!-- 구분선 -->
                <hr class="payment-hr-border">
                <!-- //구분선 -->
                <!-- 쿠폰 사용 및 조회 container -->
                <div class="payment-coupon-container">

                </div>
                <!-- //쿠폰 사용 및 조회 container -->
                <!-- 최종 결제 금액 안내 -->
                <div class="payment-final-price-container">
                    
                </div>
                <!-- //최종 결제 금액 안내 -->
                <!-- 결제동의 문 container -->
                <div class="payment-purchase-notice-container">

                </div>
                <!-- //결제동의 문 container -->
            </div>
            <!-- 결제하기 버튼 -->
            <div class="payment-submit-button">
                <button>결제하기</button>
            </div>
            <!-- //결제하기 버튼 -->
            <!-- //메인 컨텐츠 컨테이너 -->
        </div>
        <!-- //padding-margin을 위한 wrapper -->
    </div>
    <!-- //전체 div -->
    
    <!-- footer-section -->
    <section class="footer"></section>
    <!-- //footer-section -->
    
</body>
</html>