body{
    font-family: SUIT;
    margin: 0;
    word-break: normal;
    overflow-wrap: break-word;
}

header{
    border-bottom: 1px solid rgb(238, 238, 238);
}

.header-top-nav-wrap{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 6px 20px;
    box-sizing: border-box;
}

.header-top-navigation{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    background-color: rgb(244, 244, 244);
}

.header-top-nav-link{
    font-size: 10px;
    text-decoration: none;
    color: #777777;
    line-height: 14px;
    letter-spacing: -0.3px;
}

.header-margin-except-first{
    margin-left: 20px;
}

/* 메인 네비게이션 */
.header-main-navigation{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.header-main-nav-first-component{
    display: flex;
    height: 58px;
}

.header-main-nav-wrap{
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
    padding: 22px 20px 8px;
    line-height: 1.5;
    box-sizing: border-box;
}

.header-category-btn{
    padding: 0;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-category-wrap{
    width: 48px;
}

.header-category-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-category-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.header-divide-line{
    width: 1px;
    height: 38px;
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.header-logo-image{
    margin: 17px 0px 17px 20px;
    width: 68px;
    height: 24px;
}

.header-main-nav-second-component{
    display: flex;
}

.header-feed-link{
    text-decoration: none;
    cursor: pointer;
}

.header-feed-wrap{
    width: 48px;
}

.header-feed-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-feed-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.header-dibs-link{
    text-decoration: none;
    cursor: pointer;
}

.header-dibs-wrap{
    width: 48px;
}

.header-dibs-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-dibs-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.header-mypage-link{
    text-decoration: none;
    cursor: pointer;
}

.header-mypage-wrap{
    width: 48px;
}

.header-mypage-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-mypage-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}