@charset "utf-8";

body{
    font-family: SUIT;
    margin: 0;
    word-break: normal;
    overflow-wrap: break-word;
}

header{
    border-bottom: 1px solid rgb(238, 238, 238);
}

.header-top-nav-wrap{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 6px 20px;
    box-sizing: border-box;
}

.header-top-navigation{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    background-color: rgb(244, 244, 244);
}

.header-top-nav-link{
    font-size: 10px;
    text-decoration: none;
    color: #777777;
    line-height: 14px;
    letter-spacing: -0.3px;
}

.header-margin-except-first{
    margin-left: 20px;
}

/* 메인 네비게이션 */
.header-main-navigation{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.header-main-nav-first-component{
    display: flex;
    height: 58px;
}

.header-main-nav-wrap{
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
    padding: 22px 20px 8px;
    line-height: 1.5;
    box-sizing: border-box;
}

.header-category-btn{
    padding: 0;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-category-wrap{
    width: 48px;
}

.header-category-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-category-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.header-divide-line{
    width: 1px;
    height: 38px;
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.header-logo-image{
    margin: 17px 0px 17px 20px;
    width: 68px;
    height: 24px;
}

.header-main-nav-second-component{
    display: flex;
}

.header-feed-link{
    text-decoration: none;
    cursor: pointer;
}

.header-feed-wrap{
    width: 48px;
}

.header-feed-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-feed-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.header-dibs-link{
    text-decoration: none;
    cursor: pointer;
}

.header-dibs-wrap{
    width: 48px;
}

.header-dibs-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-dibs-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.header-mypage-link{
    text-decoration: none;
    cursor: pointer;
}

.header-mypage-wrap{
    width: 48px;
}

.header-mypage-image-wrap{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.header-mypage-text{
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

/* 카테고리 모달 */
/* 모달 */

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.category-modal {
    display: none;
    position: fixed;
    inset: 0px;
    z-index: 1000;
    box-sizing: border-box;
    width: 770px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
    height: fit-content;
}

div#content-wrap span{
    display: block;
}

div.modal-background {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/* 모달 내부 */
.category-modal-header{
    position: relative;
    padding: 24px 20px 16px;
    letter-spacing: -0.54px;
    line-height: 1.44;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.category-modal-body{
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0px;
    height: 100%;
    padding: 24px 20px;
}

.category-modal-content-wrapper{
    width: 730px;
}

.category-modal-content-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
}

.category-content-link{
    display: table;
    width: 100%;
    text-decoration: none;
}

.category-item-container{
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
    box-sizing: border-box;
}

.category-item-background-image1{
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-outdoor_gch4e1);
}

.category-item-backgroundDeem{
    opacity: 0.2;
    background-color: rgb(17, 17, 17);
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}

.category-item-textDeem{
    opacity: 0.2;
    background-image: linear-gradient(to right, rgb(3, 0, 0), rgba(2, 0, 0, 0.52), rgba(0, 0, 0, 0));
    width: 94px;
    height: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}

.category-item-text{
    z-index: 1;
}