body{
    margin: 0;
    word-break: normal;
    overflow-wrap: break-word;
}

.main-container{
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
    box-sizing: border-box;
}

.banner-container{
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}

div.banner {
    width: 8400px; /* 배너 5개라 * 7 */
    transition: transform 0.3s;
    cursor: pointer;
}

div.banner div {
    width: 808px;
    height: 308px;
    float: left;
    background-size: 100%;
    transition: transform 0.4s ease-in-out;
}

div.move-arrow {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

div.move-arrow div {
    background-size: 7px auto;
    background-repeat: no-repeat;
    background-position: center;
}

div.prev {
    position: absolute;
    transform: rotate(180deg) translate(0px, 50%) !important;
    top: 50%;
    left: 10px;
}

.prev-image{
    width: 50px;
    height: 50px;
}

div.next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);  
}

div.buttons {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

div.buttons button {
    background: white;
}

div.buttons button:nth-child(1) {
    background-color: black;
    color: white;
}

.page-move-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;
    bottom: 12px;
    text-align: center;
    height: 28px;
    padding: 6px 10px;
    color: rgb(204, 204, 204);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    font-weight: bold;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    box-sizing: border-box;
}

#page-now{
    color: rgb(255, 255, 255);
    margin-right: 2px;
}

#page-total{
    margin-right: 2px;
}

/* 서브네비게이션 */
.sub-nav-wrapper{
    margin-bottom: 12px;
}

.sub-nav-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sub-nav-component-container{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    width: 60px;
    height: 83px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(170, 170, 170);
    white-space: nowrap;
}

.sub-nav-component-link{
    text-decoration: none;
}

/* 첫번째 목록 */
.first-list-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 18px;
    font-size: 14px;
}   

.first-list-title-wrap{
    display: flex;
    max-width: calc(100% - 62px);
    font-size: 18px;
    line-height: 22px;
}

.first-list-title{
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 8px;
    font-weight: bold;
    color: black;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.first-list-link-wrap{
    min-width: 52px;
}

.first-list-link{
    text-decoration: none;
    color: #000000;
}

.first-list-container{
    display: flex;
    flex-flow: row wrap;
    min-height: 1px;
}

.first-list-component-wrap{
    margin-right: 15px;
    margin-bottom: 30px;
    width: calc(25% - 11.25px) !important;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: white;
    min-height: 1px;
}

.first-list-component-link{
    text-decoration: none;
    color: #000000;
}

.first-list-component-image{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-list-component-info-wrap{
    padding: 10px 13px 0px 11px;
}

.first-list-component-region{
    display: block;
    color: rgb(119, 119, 119);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0px 0px 8px;
}

.first-list-component-title{
    height: auto;
    margin: 0px 0px 9px;
    font-weight: 400;
    word-break: keep-all;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 40px;
    line-height: 20px;
    font-size: 14px;
}

.first-list-component-review{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.first-list-component-review-star-wrap{
    display: flex;
    flex-flow: row nowrap;
}

.first-list-component-review-info{
    display: block;
    margin: 0px 0px 0px 4px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.03em;
}

.divide-line{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 8px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.first-list-component-original-price{
    color: rgb(204, 204, 204);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-decoration: line-through;
}

.first-list-component-discount-wrap{
    display: flex;
}

.first-list-component-discount-rate{
    margin: 0px 2px 0px 0px;
    color: rgb(255, 63, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.first-list-component-discount-price{
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.first-list-container > :nth-child(4n) {
    margin-right: 0px;
}