/* payment-main.html */

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

body {
    font-family: SUIT, "UI Frip", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

* {
    outline: none;
    font-family: inherit;
}





















/*********************************************************************************************/
.payment-entire-conatiner{
    width: 100%;
}

.payment-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 768px;
    width: 100%;
    padding: 36px 20px 0px;
    min-height: 1px;
}

.payment-main-container{
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
    opacity: 1;
    display: block;
}

.payment-info-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.6px;
    color: rgb(51, 51, 51);
}

.payment-info-wrapper{
    padding-top: 16px;
    display: flex;
}

.product-main-info-container{
    height: fit-content;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
}

.payment-main-info-pic{
    min-width: 112px;
    height: 112px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-pack: justify;
}

.payment-main-info-pic img{
    border-style: none;
    vertical-align: middle;
    width: 112px;
    height: 112px;
}

















































